<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iot20safa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cd83c71f-da50-45d8-b391-4cd09c0479bc/resourceGroups/Datakommunikation/providers/Microsoft.Web/sites/iot20safa</ResourceId>
    <UserName>$iot20safa</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://iot20safa.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>